.container-login {
    background-color: #BFCDE0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #D4DCE8;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container-login h1 {
    margin: 0;
    font-size: 30px;
    color: #000505;
}
.container-login p {
    font-size: 16px;
    color: #000505;
    margin-bottom: 25px;
}
.form-group-login {
    text-align: left;
    margin-bottom: 20px;
}
.form-group-login label {
    display: block;
    font-size: 16px;
    color: #000505;
    margin-bottom: 8px;
    font-weight: bold;
}
.form-group-login input {
    width: 100%;
    padding: 12px;
    border: 1px solid #D4DCE8;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}
.form-group-login input::placeholder {
    color: #000505;
    opacity: 0.4;
}
.buttons-login {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    background-color: #5D5D81;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #000505;
}
.buttons-login button {
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    background-color: #FEFCFD;
}
.buttons-login button.active {
    background-color: #5D5D81;
    color: #FEFCFD;
}
.buttons-login button.login-login {
    border-right: 1px solid #000505;
}
.create-account-login {
    background-color: #5D5D81;
    color: #FEFCFD;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}